__pycache__/
*.pyc
.cache/
smk_vector_db/
local_vector_db/
Memory/
file_states.json
chat_history.json
Sessions/
.env
secrets.vault
local_settings.json
global_settings.json
Созданные_Документы/
build/
dist/
*.spec
*.exe
*.zip
*.bat
SMK_Docs/
plans/
.kilocode/
.kilocodemodes
